<div class="row marketing">
  <h2>
    Ищу удаленную работу в проекте по Web разработке на Ruby On Rails.
  </h2>

<div class="social">
  <div>
    <a href="http://facebook.com/yury.egorenkov" target="_blank"><span>Facebook</span></a>
    <a href="https://twitter.com/yury_egorenkov"><span>Twitter</span></a>
    <a href="https://plus.google.com/+YuryEgorenkov"><span>Google+</span></a>
    <a href="https://github.com/yury-egorenkov"><span>Github</span></a>
    <a href="https://vk.com/yury.egorenkov"><span>Vkontakte</span></a>
    <a href="http://yuryegorenkov.moikrug.ru/"><span>Мой круг</span></a>
    <a href="mailto:yury.egorenkov@gmail.com"><span>Email</span></a>
  </div>
</div>

</div>
